<h3> Espace Bailleur</h3>

<clr-datagrid   [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group btn-primary">
            <button type="button" class="btn btn-success" routerLink="/lessor-add"> <cds-icon shape="plus"></cds-icon>
Ajouter </button>
            <button type="button" class="btn btn-danger" (click)="deleteAction()" *ngIf="selected.length >=1"> <cds-icon shape="trash"></cds-icon>
Supprimer</button>
            <button type="button" class="btn" routerLink="/lessor-update"  *ngIf="selected.length == 1">
            <cds-icon shape="pencil"></cds-icon>   Modifier
            </button>
        </div>

    </clr-dg-action-bar>
    <clr-dg-column> Nom de Bailleur</clr-dg-column>
    <clr-dg-column> Prenom de Bailleur</clr-dg-column>
    <clr-dg-column> Name Bailleur</clr-dg-column>
    <clr-dg-column>  Email</clr-dg-column>
     <clr-dg-column> phone</clr-dg-column>
     <clr-dg-column> fax</clr-dg-column>
    <clr-dg-column> Ville</clr-dg-column>
    <clr-dg-column> adresse</clr-dg-column>
    <clr-dg-column> code postal</clr-dg-column>
    <clr-dg-column>Rue</clr-dg-column>

    <clr-dg-row *clrDgItems="let lessor of lessor" [clrDgItem]="lessor">
        <clr-dg-cell>{{ lessor.firstName  }}</clr-dg-cell>
        <clr-dg-cell>{{lessor.lastName }}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.Name  }}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.email }}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.phone }}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.Fax}}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.cite}}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.CodePostale}}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.stress}}</clr-dg-cell>
        <clr-dg-cell>{{ lessor.ad}}</clr-dg-cell>

    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>{{ detail.name }}</clr-dg-detail-header>
        <clr-dg-detail-body>
          <b cds-text="medium">Additional Details</b>
          <table class="table">
            <tr>
              <th>Property</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>ID</td>
              <td>{{ detail.id }}</td>
            </tr>
            <tr>
              <td>Wins</td>
              <td>{{ detail.email }}</td>
            </tr>
            <tr>
              <td>Favorite Color</td>
              <td>
                {{ detail.name }}
                <span class="color-square" [style.backgroundColor]="detail.color"></span>
              </td>
            </tr>
            <tr>
              <td>Creation</td>
              <td>{{ detail.phone | date }}</td>
            </tr>
          </table>
        </clr-dg-detail-body>
      </clr-dg-detail>
    

    <clr-dg-footer>{{ lessor.length }} bailleurs</clr-dg-footer>
</clr-datagrid>
<app-lessor-delete *ngIf="show" [listId]="selected" (close)="actionClose()"></app-lessor-delete>