<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button" (click)="closeAction()">
                    <cds-icon shape="close"></cds-icon>
                </button>
                <h3 class="modal-title">Supprimer Bailleur</h3>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment le supprimer?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" (click)="closeAction()">Annuler</button>
                <button class="btn btn-primary" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>