<form clrForm [formGroup]="form"(ngSubmit)="submit()">
    <clr-input-container>
      <label>Email</label>
      <input type="email" clrInput formControlName="email" />
      <clr-control-helper>Email-enter</clr-control-helper>
      <clr-control-error *clrIfError="'required'" >This email obligatoire</clr-control-error>
      <clr-control-error *clrIfError="'email'" >This email invalid</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>User Name</label>
        <input type="text" clrInput formControlName="userName" />
        <clr-control-helper>userName-enter</clr-control-helper>
        <clr-control-error *clrIfError="'required'" >This user Name obligatoire</clr-control-error>
        <clr-control-error *clrIfError="'minlength'" >min lenght  invalid is 8 charactere</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label>Password</label>
        <input
          clrPassword
          autocomplete="current-password"
          placeholder="Password please!"
          formControlName="password"
          name="password"
        />
        <!-- <clr-control-helper>Must contain at least 8 characters!</clr-control-helper> -->
        <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
      </clr-password-container>
      <clr-password-container>
        <label>passwordComfirmer</label>
        <input
          clrPassword
          autocomplete="current-password"
          placeholder="passwordComfirmer please!"
          formControlName="passwordComfirmer"
          name="passwordComfirmer"
        />
        <!-- <clr-control-helper>Must contain at least 8 caracters!</clr-control-helper> -->
        <!-- <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error> -->
        <clr-control-error *clrIfError="'mismatch'">not matching!</clr-control-error>
      </clr-password-container>
      
    
     <button class="btn btn-primary" type="submit" [disabled]="form.invalid"  >Submit</button> 
    <button class="btn" type="button" (click)="reset()">Reset</button> 
  </form>
  